In [26]:
import pandas as pd
import numpy as np
from package_file_conversion.nnlist2df import nnlist2df

In [32]:
nnlist_path = 'sample_test_files/POSCAR.nnlist'

In [33]:
df_nnlist = nnlist2df(nnlist_path=nnlist_path)

In [34]:
df_nnlist.head()

,central_atom_id,neighboring_atom_id,rel_distance,rel_x,rel_y,rel_z,unitcell_x,unitcell_y,unitcell_z,central_atom_symbol,neighboring_atom_symbol
0,1,1,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
1,1,9,1.282630,0.000000,1.281885,-0.043713,0,0,0,C,O
2,1,13,1.289100,1.112990,-0.650283,0.012857,0,0,0,C,O
3,1,16,1.289100,-1.112990,-0.650283,0.012857,0,0,0,C,O
4,2,2,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C

In [63]:
df_nnlist_squeezed_center_atom = df_nnlist[df_nnlist['central_atom_symbol'] == 'C']
df_nnlist_squeezed_center_atom

,central_atom_id,neighboring_atom_id,rel_distance,rel_x,rel_y,rel_z,unitcell_x,unitcell_y,unitcell_z,central_atom_symbol,neighboring_atom_symbol,neighboring_atom_symbol_is_O
0,1,1,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C,False
1,1,9,1.282630,0.000000,1.281885,-0.043713,0,0,0,C,O,True
2,1,13,1.289100,1.112990,-0.650283,0.012857,0,0,0,C,O,True
3,1,16,1.289100,-1.112990,-0.650283,0.012857,0,0,0,C,O,True
4,2,2,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C,False
5,2,10,1.282630,0.000000,-1.281885,-0.043713,0,0,0,C,O,True
6,2,14,1.289100,-1.112990,0.650283,0.012857,0,0,0,C,O,True
7,2,17,1.289100,1.112990,0.650283,0.012857,0,0,0,C,O,True
8,3,3,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C,False
9,3,11,1.282630,0.000000,-1.281885,0.043713,0,0,0,C,O,True
10,3,15,1.289100,-1.112990,0.650283,-0.012857,0,0,0,C,O,True
11,3,19,1.289100,1.112990,0.650283,-0.012857,0,0,0,C,O,True
12,4,4,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C,False
13,4,12,1.282630,0.000000,1.281885,0.043713,0,0,0,C,O,True
14,4,18,1.289100,1.112990,-0.650283,-0.012857,0,0,0,C,O,True
15,4,20,1.289100,-1.112990,-0.650283,-0.012857,0,0,0,C,O,True

### 2．POSCAR.nnlistにおいて，原子Cから0-2．のCO結合距離以内に，原子Oを3つ以上含む，中心原子Cが存在する．

#### 2．の試行錯誤

In [61]:
df_nnlist_group_dict = df_nnlist[df_nnlist['central_atom_symbol'] == 'C'].groupby('central_atom_id').groups
df_nnlist_group_dict

{'1': [0, 1, 2, 3], '2': [4, 5, 6, 7], '3': [8, 9, 10, 11], '4': [12, 13, 14, 15]}

In [85]:
df_nnlist_squeezed_center_atom.iloc[df_nnlist_group_dict['2']]['neighboring_atom_symbol'].tolist().count('O') >= 3

True

In [139]:
df_nnlist_central_atom_ids = np.array(list(df_nnlist_group_dict.keys()))
df_nnlist_central_atom_ids

array(['1', '2', '3', '4'], dtype='<U1')

In [141]:
bool_list = []
for key in df_nnlist_central_atom_ids:
    bool_list.append(df_nnlist_squeezed_center_atom.iloc[df_nnlist_group_dict[key]]['neighboring_atom_symbol'].tolist().count('O') >= 3)

In [149]:
df_nnlist_central_atom_ids_fillterd = df_nnlist_central_atom_ids[bool_list]
df_nnlist_central_atom_ids_fillterd

array(['1', '2', '3', '4'], dtype='<U1')

In [153]:
bool_filter_2 = len(df_nnlist_central_atom_ids_fillterd) >= 1

In [18]:
df_nnlist_group_dict = df_nnlist[df_nnlist['central_atom_symbol'] == 'C'].groupby('central_atom_id').groups

In [36]:
df_nnlist_group_dict

{'1': [0, 1, 2, 3], '2': [4, 5, 6, 7], '3': [8, 9, 10, 11], '4': [12, 13, 14, 15]}

In [37]:
{key: df_nnlist_group_dict[key] for key in df_nnlist_group_dict.keys()}

{'1': Int64Index([0, 1, 2, 3], dtype='int64'),
 '2': Int64Index([4, 5, 6, 7], dtype='int64'),
 '3': Int64Index([8, 9, 10, 11], dtype='int64'),
 '4': Int64Index([12, 13, 14, 15], dtype='int64')}

In [38]:
{key: df_nnlist_group_dict[key] for key in df_nnlist_group_dict.keys() if key in df_nnlist_central_atom_ids_fillterd}

{'1': Int64Index([0, 1, 2, 3], dtype='int64'),
 '2': Int64Index([4, 5, 6, 7], dtype='int64'),
 '3': Int64Index([8, 9, 10, 11], dtype='int64'),
 '4': Int64Index([12, 13, 14, 15], dtype='int64')}

#### 2．の関数化

In [4]:
def filter_2(df_nnlist):
    df_nnlist_squeezed_center_atom = df_nnlist[df_nnlist['central_atom_symbol'] == 'C']
    df_nnlist_group_dict = df_nnlist[df_nnlist['central_atom_symbol'] == 'C'].groupby('central_atom_id').groups
    df_nnlist_central_atom_ids = np.array(list(df_nnlist_group_dict.keys()))
    bool_list = []
    for key in df_nnlist_central_atom_ids:
        bool_list.append(df_nnlist_squeezed_center_atom.iloc[df_nnlist_group_dict[key]]['neighboring_atom_symbol'].tolist().count('O') >= 3)
    df_nnlist_central_atom_ids_fillterd = df_nnlist_central_atom_ids[bool_list]
    bool_filter_2 = len(df_nnlist_central_atom_ids_fillterd) >= 1
    filtered_df_nnlist_group_dict = {key: df_nnlist_group_dict[key] for key in df_nnlist_group_dict.keys() if key in df_nnlist_central_atom_ids_fillterd}
    return bool_filter_2, filtered_df_nnlist_group_dict

In [5]:
bool_2, dict_2 = filter_2(df_nnlist=df_nnlist)

In [6]:
bool_2

True

In [7]:
dict_2

{'1': Int64Index([0, 1, 2, 3], dtype='int64'),
 '2': Int64Index([4, 5, 6, 7], dtype='int64'),
 '3': Int64Index([8, 9, 10, 11], dtype='int64'),
 '4': Int64Index([12, 13, 14, 15], dtype='int64')}

### 3．2．の中心原子Cに対して，1番近い原子がOであり，かつ2番目に近い原子もOであり，かつ3番目に近い原子もOである，中心原子Cが存在する．

In [77]:
dict_

{'1': Int64Index([0, 1, 2, 3], dtype='int64'),
 '2': Int64Index([4, 5, 6, 7], dtype='int64'),
 '3': Int64Index([8, 9, 10, 11], dtype='int64'),
 '4': Int64Index([12, 13, 14, 15], dtype='int64')}

In [54]:
df_nnlist.iloc[ids['1']].sort_values(by='rel_distance')

,central_atom_id,neighboring_atom_id,rel_distance,rel_x,rel_y,rel_z,unitcell_x,unitcell_y,unitcell_z,central_atom_symbol,neighboring_atom_symbol
0,1,1,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
1,1,9,1.282630,0.000000,1.281885,-0.043713,0,0,0,C,O
2,1,13,1.289100,1.112990,-0.650283,0.012857,0,0,0,C,O
3,1,16,1.289100,-1.112990,-0.650283,0.012857,0,0,0,C,O

In [56]:
df_nnlist.iloc[ids['1']].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()

['C', 'O', 'O', 'O']

In [57]:
df_nnlist.iloc[ids['1']].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()[1:4]

['O', 'O', 'O']

In [61]:
set(df_nnlist.iloc[ids['1']].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()[1:4]) == {'O'}

True

In [80]:
for k, v in dict_.items():
    print(k, v)

1 Int64Index([0, 1, 2, 3], dtype='int64')
2 Int64Index([4, 5, 6, 7], dtype='int64')
3 Int64Index([8, 9, 10, 11], dtype='int64')
4 Int64Index([12, 13, 14, 15], dtype='int64')

In [81]:
bool_list_3 = []
for k, v in dict_.items():
    bool_list_3.append(set(df_nnlist.iloc[dict_[k]].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()[1:4]) == {'O'})

In [82]:
bool_list_3

[True, True, True, True]

In [93]:
bool_list_3 = []
for k, v in dict_.items():
    bool_list_3.append(set(df_nnlist.iloc[dict_[k]].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()[1:4]) == {'O'})
df_nnlist_central_atom_ids_fillterd_3 = np.array(list(dict_.keys()))[bool_list_3]
filtered_3_df_nnlist_group_dict = {key: dict_[key] for key in dict_.keys() if key in df_nnlist_central_atom_ids_fillterd_3}

#### 3．の関数化

In [8]:
def filter_3(df_nnlist, dict_2):
    bool_list_3 = []
    for k, v in dict_2.items():
        bool_list_3.append(set(df_nnlist.iloc[dict_2[k]].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()[1:4]) == {'O'})
    df_nnlist_central_atom_ids_fillterd_3 = np.array(list(dict_2.keys()))[bool_list_3]
    filtered_3_df_nnlist_group_dict = {key: dict_2[key] for key in dict_2.keys() if key in df_nnlist_central_atom_ids_fillterd_3}
    bool_filter_3 = len(df_nnlist_central_atom_ids_fillterd_3) >= 1
    return bool_filter_3, filtered_3_df_nnlist_group_dict

In [9]:
bool_3, dict_3 = filter_3(df_nnlist=df_nnlist, dict_2=dict_2)

In [10]:
bool_3

True

In [11]:
dict_3

{'1': Int64Index([0, 1, 2, 3], dtype='int64'),
 '2': Int64Index([4, 5, 6, 7], dtype='int64'),
 '3': Int64Index([8, 9, 10, 11], dtype='int64'),
 '4': Int64Index([12, 13, 14, 15], dtype='int64')}

### 4．2．の中心原子Cに対して4番目に近い原子が存在しない．→ 条件1をクリア．それ以外→アウト

In [29]:
df_nnlist.iloc[dict_3['1']].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()

['C', 'O', 'O', 'O']

In [30]:
len(df_nnlist.iloc[dict_3['1']].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist())

4

In [12]:
def filter_4(df_nnlist, dict_3):
    bool_list_4 = []
    for k, v in dict_3.items():
        bool_list_4.append(len(df_nnlist.iloc[dict_3[k]].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()) == 4)
    df_nnlist_central_atom_ids_fillterd_4 = np.array(list(dict_3.keys()))[bool_list_4]
    filtered_4_df_nnlist_group_dict = {key: dict_3[key] for key in dict_3.keys() if key in df_nnlist_central_atom_ids_fillterd_4}
    bool_filter_4 = len(df_nnlist_central_atom_ids_fillterd_4) >= 1
    return bool_filter_4, filtered_4_df_nnlist_group_dict

In [14]:
bool_4, dict_4 = filter_4(df_nnlist=df_nnlist, dict_3=dict_3)

In [15]:
bool_4

True

In [16]:
dict_4

{'1': Int64Index([0, 1, 2, 3], dtype='int64'),
 '2': Int64Index([4, 5, 6, 7], dtype='int64'),
 '3': Int64Index([8, 9, 10, 11], dtype='int64'),
 '4': Int64Index([12, 13, 14, 15], dtype='int64')}

### 5．2．の中心原子Cに対して4番目に近い原子が，Cに3番目に近い原子OとCのCO距離より大きい．→ 条件1をクリア．

In [17]:
dict_4

{'1': Int64Index([0, 1, 2, 3], dtype='int64'),
 '2': Int64Index([4, 5, 6, 7], dtype='int64'),
 '3': Int64Index([8, 9, 10, 11], dtype='int64'),
 '4': Int64Index([12, 13, 14, 15], dtype='int64')}

In [18]:
df_nnlist.iloc[dict_4['1']].sort_values(by='rel_distance')

,central_atom_id,neighboring_atom_id,rel_distance,rel_x,rel_y,rel_z,unitcell_x,unitcell_y,unitcell_z,central_atom_symbol,neighboring_atom_symbol
0,1,1,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
1,1,9,1.282630,0.000000,1.281885,-0.043713,0,0,0,C,O
2,1,13,1.289100,1.112990,-0.650283,0.012857,0,0,0,C,O
3,1,16,1.289100,-1.112990,-0.650283,0.012857,0,0,0,C,O

In [19]:
df_nnlist.iloc[dict_4['1']].sort_values(by='rel_distance')['rel_distance']

0   0.000000
1   1.282630
2   1.289100
3   1.289100
Name: rel_distance, dtype: float64

In [24]:
third_CO_bond_dist = df_nnlist.iloc[dict_4['1']].sort_values(by='rel_distance')['rel_distance'].tolist()[3]
third_CO_bond_dist

1.2891

In [22]:
forth_dist = df_nnlist.iloc[dict_4['1']].sort_values(by='rel_distance')['rel_distance'].tolist()[4]

In [ ]:
third_CO_bond_dist < forth_dist

In [ ]:
bool_list_5 = []
for k, v in dict_4.items():
    third_CO_bond_dist = df_nnlist.iloc[dict_4[k]].sort_values(by='rel_distance')['rel_distance'].tolist()[3]
    forth_dist = df_nnlist.iloc[dict_4['1']].sort_values(by='rel_distance')['rel_distance'].tolist()[4]
    bool_list_5.append(third_CO_bond_dist < forth_dist)
df_nnlist_central_atom_ids_fillterd_5 = np.array(list(dict_4.keys()))[bool_list_5]

In [25]:
def filter_5(df_nnlist, dict_4):
    bool_list_5 = []
    for k, v in dict_4.items():
        third_CO_bond_dist = df_nnlist.iloc[dict_4[k]].sort_values(by='rel_distance')['rel_distance'].tolist()[3]
        forth_dist = df_nnlist.iloc[dict_4['1']].sort_values(by='rel_distance')['rel_distance'].tolist()[4]
        bool_list_5.append(third_CO_bond_dist < forth_dist)
    df_nnlist_central_atom_ids_fillterd_5 = np.array(list(dict_4.keys()))[bool_list_5]
    filtered_5_df_nnlist_group_dict = {key: dict_4[key] for key in dict_4.keys() if key in df_nnlist_central_atom_ids_fillterd_5}
    bool_filter_5 = len(df_nnlist_central_atom_ids_fillterd_5) >= 1

    return bool_filter_5, filtered_5_df_nnlist_group_dict