In [1]:
import pandas as pd
import numpy as np
from package_file_conversion.nnlist2df import nnlist2df

In [2]:
nnlist_path = 'sample_test_files/nnlist_5/POSCAR.nnlist'

In [3]:
df_nnlist = nnlist2df(nnlist_path=nnlist_path)

In [4]:
df_nnlist.head(5)

,central_atom_id,neighboring_atom_id,rel_distance,rel_x,rel_y,rel_z,unitcell_x,unitcell_y,unitcell_z,central_atom_symbol,neighboring_atom_symbol
0,1,1,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
1,1,2,4.368786,0.000000,-2.958921,-3.214200,0,0,0,Ba,Ba
2,1,2,4.368786,0.000000,-2.958921,3.214200,0,0,1,Ba,Ba
3,1,3,4.473591,-2.656300,1.488979,-3.277198,-1,0,0,Ba,Ba
4,1,3,4.382130,-2.656300,1.488979,3.151202,-1,0,1,Ba,Ba

In [7]:
df_nnlist_squeezed_center_atom = df_nnlist[df_nnlist['central_atom_symbol'] == 'C']
df_nnlist_squeezed_center_atom

,central_atom_id,neighboring_atom_id,rel_distance,rel_x,rel_y,rel_z,unitcell_x,unitcell_y,unitcell_z,central_atom_symbol,neighboring_atom_symbol
148,5,1,3.209053,0.000000,-3.030710,-1.054900,0,0,0,C,Ba
149,5,2,3.620551,0.000000,2.906169,2.159300,0,1,1,C,Ba
150,5,3,3.718514,-2.656300,-1.541731,2.096301,-1,0,1,C,Ba
151,5,3,3.718514,2.656300,-1.541731,2.096301,0,0,1,C,Ba
152,5,4,3.211550,-2.656300,1.417190,-1.117899,-1,0,0,C,Ba
...,...,...,...,...,...,...,...,...,...,...,...
255,8,18,1.289100,1.112990,-0.650283,-0.012857,0,0,0,C,O
256,8,19,3.453845,1.112990,0.525742,-3.227057,0,0,0,C,O
257,8,19,3.429832,1.112990,0.525742,3.201343,0,0,1,C,O
258,8,20,1.289100,-1.112990,-0.650283,-0.012857,0,0,0,C,O
259,8,20,4.249678,4.199610,-0.650283,-0.012857,1,0,0,C,O

### 2．POSCAR.nnlistにおいて，原子Cから0-2．のCO結合距離以内に，原子Oを3つ以上含む，中心原子Cが存在する．

#### 2．の試行錯誤

In [8]:
df_nnlist_group_dict = df_nnlist[df_nnlist['central_atom_symbol'] == 'C'].groupby('central_atom_id').groups
df_nnlist_group_dict

{'5': [148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175], '6': [176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203], '7': [204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231], '8': [232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259]}

In [13]:
df_nnlist.iloc[df_nnlist_group_dict['5']]

,central_atom_id,neighboring_atom_id,rel_distance,rel_x,rel_y,rel_z,unitcell_x,unitcell_y,unitcell_z,central_atom_symbol,neighboring_atom_symbol
148,5,1,3.209053,0.000000,-3.030710,-1.054900,0,0,0,C,Ba
149,5,2,3.620551,0.000000,2.906169,2.159300,0,1,1,C,Ba
150,5,3,3.718514,-2.656300,-1.541731,2.096301,-1,0,1,C,Ba
151,5,3,3.718514,2.656300,-1.541731,2.096301,0,0,1,C,Ba
152,5,4,3.211550,-2.656300,1.417190,-1.117899,-1,0,0,C,Ba
153,5,4,3.211550,2.656300,1.417190,-1.117899,0,0,0,C,Ba
154,5,5,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
155,5,6,3.216612,0.000000,-0.124541,-3.214200,0,0,0,C,C
156,5,6,3.216612,0.000000,-0.124541,3.214200,0,0,1,C,C
157,5,9,1.282630,0.000000,1.281885,-0.043713,0,0,0,C,O
158,5,10,3.548525,0.000000,-1.406426,-3.257913,0,0,0,C,O
159,5,10,3.468432,0.000000,-1.406426,3.170487,0,0,1,C,O
160,5,11,4.181383,-2.656300,3.041474,1.085114,-1,1,1,C,O
161,5,11,4.181383,2.656300,3.041474,1.085114,0,1,1,C,O
162,5,12,4.648934,-2.656300,-3.166015,-2.129086,-1,0,0,C,O
163,5,12,4.648934,2.656300,-3.166015,-2.129086,0,0,0,C,O
164,5,13,4.249678,-4.199610,-0.650283,0.012857,-1,0,0,C,O
165,5,13,1.289100,1.112990,-0.650283,0.012857,0,0,0,C,O
166,5,14,3.429832,-1.112990,0.525742,-3.201343,0,0,0,C,O
167,5,14,3.453845,-1.112990,0.525742,3.227057,0,0,1,C,O
168,5,15,4.338552,1.543310,-3.922158,1.028544,0,0,1,C,O
169,5,16,1.289100,-1.112990,-0.650283,0.012857,0,0,0,C,O
170,5,16,4.249678,4.199610,-0.650283,0.012857,1,0,0,C,O
171,5,17,3.429832,1.112990,0.525742,-3.201343,0,0,0,C,O
172,5,17,3.453845,1.112990,0.525742,3.227057,0,0,1,C,O
173,5,18,4.645513,-1.543310,3.797617,-2.185656,-1,1,0,C,O
174,5,19,4.338552,-1.543310,-3.922158,1.028544,-1,0,1,C,O
175,5,20,4.645513,1.543310,3.797617,-2.185656,0,1,0,C,O

In [139]:
df_nnlist_central_atom_ids = np.array(list(df_nnlist_group_dict.keys()))
df_nnlist_central_atom_ids

array(['1', '2', '3', '4'], dtype='<U1')

In [141]:
bool_list = []
for key in df_nnlist_central_atom_ids:
    bool_list.append(df_nnlist_squeezed_center_atom.iloc[df_nnlist_group_dict[key]]['neighboring_atom_symbol'].tolist().count('O') >= 3)

In [149]:
df_nnlist_central_atom_ids_fillterd = df_nnlist_central_atom_ids[bool_list]
df_nnlist_central_atom_ids_fillterd

array(['1', '2', '3', '4'], dtype='<U1')

In [153]:
bool_filter_2 = len(df_nnlist_central_atom_ids_fillterd) >= 1

In [18]:
df_nnlist_group_dict = df_nnlist[df_nnlist['central_atom_symbol'] == 'C'].groupby('central_atom_id').groups

In [36]:
df_nnlist_group_dict

{'1': [0, 1, 2, 3], '2': [4, 5, 6, 7], '3': [8, 9, 10, 11], '4': [12, 13, 14, 15]}

In [37]:
{key: df_nnlist_group_dict[key] for key in df_nnlist_group_dict.keys()}

{'1': Int64Index([0, 1, 2, 3], dtype='int64'),
 '2': Int64Index([4, 5, 6, 7], dtype='int64'),
 '3': Int64Index([8, 9, 10, 11], dtype='int64'),
 '4': Int64Index([12, 13, 14, 15], dtype='int64')}

In [38]:
{key: df_nnlist_group_dict[key] for key in df_nnlist_group_dict.keys() if key in df_nnlist_central_atom_ids_fillterd}

{'1': Int64Index([0, 1, 2, 3], dtype='int64'),
 '2': Int64Index([4, 5, 6, 7], dtype='int64'),
 '3': Int64Index([8, 9, 10, 11], dtype='int64'),
 '4': Int64Index([12, 13, 14, 15], dtype='int64')}

#### 2．の関数化

In [14]:
def filter_2(df_nnlist):
    df_nnlist_squeezed_center_atom = df_nnlist[df_nnlist['central_atom_symbol'] == 'C']
    df_nnlist_group_dict = df_nnlist[df_nnlist['central_atom_symbol'] == 'C'].groupby('central_atom_id').groups
    df_nnlist_central_atom_ids = np.array(list(df_nnlist_group_dict.keys()))
    bool_list = []
    for key in df_nnlist_central_atom_ids:
        bool_list.append(df_nnlist.iloc[df_nnlist_group_dict[key]]['neighboring_atom_symbol'].tolist().count('O') >= 3)
    df_nnlist_central_atom_ids_fillterd = df_nnlist_central_atom_ids[bool_list]
    bool_filter_2 = len(df_nnlist_central_atom_ids_fillterd) >= 1
    filtered_df_nnlist_group_dict = {key: df_nnlist_group_dict[key] for key in df_nnlist_group_dict.keys() if key in df_nnlist_central_atom_ids_fillterd}
    return bool_filter_2, filtered_df_nnlist_group_dict

In [15]:
bool_2, dict_2 = filter_2(df_nnlist=df_nnlist)

In [16]:
bool_2

True

In [17]:
dict_2

{'5': Int64Index([148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160,
             161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173,
             174, 175],
            dtype='int64'),
 '6': Int64Index([176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188,
             189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201,
             202, 203],
            dtype='int64'),
 '7': Int64Index([204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216,
             217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229,
             230, 231],
            dtype='int64'),
 '8': Int64Index([232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244,
             245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257,
             258, 259],
            dtype='int64')}

### 3．2．の中心原子Cに対して，1番近い原子がOであり，かつ2番目に近い原子もOであり，かつ3番目に近い原子もOである，中心原子Cが存在する．

In [77]:
dict_

{'1': Int64Index([0, 1, 2, 3], dtype='int64'),
 '2': Int64Index([4, 5, 6, 7], dtype='int64'),
 '3': Int64Index([8, 9, 10, 11], dtype='int64'),
 '4': Int64Index([12, 13, 14, 15], dtype='int64')}

In [54]:
df_nnlist.iloc[ids['1']].sort_values(by='rel_distance')

,central_atom_id,neighboring_atom_id,rel_distance,rel_x,rel_y,rel_z,unitcell_x,unitcell_y,unitcell_z,central_atom_symbol,neighboring_atom_symbol
0,1,1,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
1,1,9,1.282630,0.000000,1.281885,-0.043713,0,0,0,C,O
2,1,13,1.289100,1.112990,-0.650283,0.012857,0,0,0,C,O
3,1,16,1.289100,-1.112990,-0.650283,0.012857,0,0,0,C,O

In [56]:
df_nnlist.iloc[ids['1']].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()

['C', 'O', 'O', 'O']

In [57]:
df_nnlist.iloc[ids['1']].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()[1:4]

['O', 'O', 'O']

In [61]:
set(df_nnlist.iloc[ids['1']].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()[1:4]) == {'O'}

True

In [80]:
for k, v in dict_.items():
    print(k, v)

1 Int64Index([0, 1, 2, 3], dtype='int64')
2 Int64Index([4, 5, 6, 7], dtype='int64')
3 Int64Index([8, 9, 10, 11], dtype='int64')
4 Int64Index([12, 13, 14, 15], dtype='int64')

In [81]:
bool_list_3 = []
for k, v in dict_.items():
    bool_list_3.append(set(df_nnlist.iloc[dict_[k]].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()[1:4]) == {'O'})

In [82]:
bool_list_3

[True, True, True, True]

In [93]:
bool_list_3 = []
for k, v in dict_.items():
    bool_list_3.append(set(df_nnlist.iloc[dict_[k]].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()[1:4]) == {'O'})
df_nnlist_central_atom_ids_fillterd_3 = np.array(list(dict_.keys()))[bool_list_3]
filtered_3_df_nnlist_group_dict = {key: dict_[key] for key in dict_.keys() if key in df_nnlist_central_atom_ids_fillterd_3}

#### 3．の関数化

In [18]:
def filter_3(df_nnlist, dict_2):
    bool_list_3 = []
    for k, v in dict_2.items():
        bool_list_3.append(set(df_nnlist.iloc[dict_2[k]].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()[1:4]) == {'O'})
    df_nnlist_central_atom_ids_fillterd_3 = np.array(list(dict_2.keys()))[bool_list_3]
    filtered_3_df_nnlist_group_dict = {key: dict_2[key] for key in dict_2.keys() if key in df_nnlist_central_atom_ids_fillterd_3}
    bool_filter_3 = len(df_nnlist_central_atom_ids_fillterd_3) >= 1
    return bool_filter_3, filtered_3_df_nnlist_group_dict

In [19]:
bool_3, dict_3 = filter_3(df_nnlist=df_nnlist, dict_2=dict_2)

In [20]:
bool_3

True

In [21]:
dict_3

{'5': Int64Index([148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160,
             161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173,
             174, 175],
            dtype='int64'),
 '6': Int64Index([176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188,
             189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201,
             202, 203],
            dtype='int64'),
 '7': Int64Index([204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216,
             217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229,
             230, 231],
            dtype='int64'),
 '8': Int64Index([232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244,
             245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257,
             258, 259],
            dtype='int64')}

### 4．2．の中心原子Cに対して4番目に近い原子が存在しない．→ 条件1をクリア．それ以外→アウト

In [29]:
df_nnlist.iloc[dict_3['1']].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()

['C', 'O', 'O', 'O']

In [30]:
len(df_nnlist.iloc[dict_3['1']].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist())

4

In [22]:
def filter_4(df_nnlist, dict_3):
    bool_list_4 = []
    for k, v in dict_3.items():
        bool_list_4.append(len(df_nnlist.iloc[dict_3[k]].sort_values(by='rel_distance')['neighboring_atom_symbol'].tolist()) == 4)
    df_nnlist_central_atom_ids_fillterd_4 = np.array(list(dict_3.keys()))[bool_list_4]
    filtered_4_df_nnlist_group_dict = {key: dict_3[key] for key in dict_3.keys() if key in df_nnlist_central_atom_ids_fillterd_4}
    bool_filter_4 = len(df_nnlist_central_atom_ids_fillterd_4) >= 1
    return bool_filter_4, filtered_4_df_nnlist_group_dict

In [23]:
bool_4, dict_4 = filter_4(df_nnlist=df_nnlist, dict_3=dict_3)

In [24]:
bool_4

False

In [25]:
dict_4

{}

### 5．2．の中心原子Cに対して4番目に近い原子が，Cに3番目に近い原子OとCのCO距離より大きい．→ 条件1をクリア．

In [17]:
dict_4

{'1': Int64Index([0, 1, 2, 3], dtype='int64'),
 '2': Int64Index([4, 5, 6, 7], dtype='int64'),
 '3': Int64Index([8, 9, 10, 11], dtype='int64'),
 '4': Int64Index([12, 13, 14, 15], dtype='int64')}

In [18]:
df_nnlist.iloc[dict_4['1']].sort_values(by='rel_distance')

,central_atom_id,neighboring_atom_id,rel_distance,rel_x,rel_y,rel_z,unitcell_x,unitcell_y,unitcell_z,central_atom_symbol,neighboring_atom_symbol
0,1,1,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
1,1,9,1.282630,0.000000,1.281885,-0.043713,0,0,0,C,O
2,1,13,1.289100,1.112990,-0.650283,0.012857,0,0,0,C,O
3,1,16,1.289100,-1.112990,-0.650283,0.012857,0,0,0,C,O

In [19]:
df_nnlist.iloc[dict_4['1']].sort_values(by='rel_distance')['rel_distance']

0   0.000000
1   1.282630
2   1.289100
3   1.289100
Name: rel_distance, dtype: float64

In [24]:
third_CO_bond_dist = df_nnlist.iloc[dict_4['1']].sort_values(by='rel_distance')['rel_distance'].tolist()[3]
third_CO_bond_dist

1.2891

In [22]:
forth_dist = df_nnlist.iloc[dict_4['1']].sort_values(by='rel_distance')['rel_distance'].tolist()[4]

In [ ]:
third_CO_bond_dist < forth_dist

In [ ]:
bool_list_5 = []
for k, v in dict_4.items():
    third_CO_bond_dist = df_nnlist.iloc[dict_4[k]].sort_values(by='rel_distance')['rel_distance'].tolist()[3]
    forth_dist = df_nnlist.iloc[dict_4['1']].sort_values(by='rel_distance')['rel_distance'].tolist()[4]
    bool_list_5.append(third_CO_bond_dist < forth_dist)
df_nnlist_central_atom_ids_fillterd_5 = np.array(list(dict_4.keys()))[bool_list_5]

In [28]:
def filter_5(df_nnlist, dict_3):
    bool_list_5 = []
    for k, v in dict_3.items():
        third_CO_bond_dist = df_nnlist.iloc[dict_3[k]].sort_values(by='rel_distance')['rel_distance'].tolist()[3]
        forth_dist = df_nnlist.iloc[dict_3[k]].sort_values(by='rel_distance')['rel_distance'].tolist()[4]
        bool_list_5.append(third_CO_bond_dist < forth_dist)
    df_nnlist_central_atom_ids_fillterd_5 = np.array(list(dict_3.keys()))[bool_list_5]
    filtered_5_df_nnlist_group_dict = {key: dict_3[key] for key in dict_3.keys() if key in df_nnlist_central_atom_ids_fillterd_5}
    bool_filter_5 = len(df_nnlist_central_atom_ids_fillterd_5) >= 1

    return bool_filter_5, filtered_5_df_nnlist_group_dict

In [29]:
bool_5, dict_5 = filter_5(df_nnlist=df_nnlist, dict_3=dict_3)

In [30]:
bool_5

True

### 6．3．の3つの原子O全てに対して，3．の中心の原子Cとの距離以内に，中心原子C以外の別の原子が存在しない．

In [32]:
dict_5

{'5': Int64Index([148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160,
             161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173,
             174, 175],
            dtype='int64'),
 '6': Int64Index([176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188,
             189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201,
             202, 203],
            dtype='int64'),
 '7': Int64Index([204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216,
             217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229,
             230, 231],
            dtype='int64'),
 '8': Int64Index([232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244,
             245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257,
             258, 259],
            dtype='int64')}

In [37]:
df_nnlist.iloc[dict_3['5']].sort_values(by='rel_distance')

,central_atom_id,neighboring_atom_id,rel_distance,rel_x,rel_y,rel_z,unitcell_x,unitcell_y,unitcell_z,central_atom_symbol,neighboring_atom_symbol
154,5,5,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
157,5,9,1.282630,0.000000,1.281885,-0.043713,0,0,0,C,O
165,5,13,1.289100,1.112990,-0.650283,0.012857,0,0,0,C,O
169,5,16,1.289100,-1.112990,-0.650283,0.012857,0,0,0,C,O
148,5,1,3.209053,0.000000,-3.030710,-1.054900,0,0,0,C,Ba
153,5,4,3.211550,2.656300,1.417190,-1.117899,0,0,0,C,Ba
152,5,4,3.211550,-2.656300,1.417190,-1.117899,-1,0,0,C,Ba
155,5,6,3.216612,0.000000,-0.124541,-3.214200,0,0,0,C,C
156,5,6,3.216612,0.000000,-0.124541,3.214200,0,0,1,C,C
166,5,14,3.429832,-1.112990,0.525742,-3.201343,0,0,0,C,O
171,5,17,3.429832,1.112990,0.525742,-3.201343,0,0,0,C,O
172,5,17,3.453845,1.112990,0.525742,3.227057,0,0,1,C,O
167,5,14,3.453845,-1.112990,0.525742,3.227057,0,0,1,C,O
159,5,10,3.468432,0.000000,-1.406426,3.170487,0,0,1,C,O
158,5,10,3.548525,0.000000,-1.406426,-3.257913,0,0,0,C,O
149,5,2,3.620551,0.000000,2.906169,2.159300,0,1,1,C,Ba
151,5,3,3.718514,2.656300,-1.541731,2.096301,0,0,1,C,Ba
150,5,3,3.718514,-2.656300,-1.541731,2.096301,-1,0,1,C,Ba
161,5,11,4.181383,2.656300,3.041474,1.085114,0,1,1,C,O
160,5,11,4.181383,-2.656300,3.041474,1.085114,-1,1,1,C,O
170,5,16,4.249678,4.199610,-0.650283,0.012857,1,0,0,C,O
164,5,13,4.249678,-4.199610,-0.650283,0.012857,-1,0,0,C,O
168,5,15,4.338552,1.543310,-3.922158,1.028544,0,0,1,C,O
174,5,19,4.338552,-1.543310,-3.922158,1.028544,-1,0,1,C,O
173,5,18,4.645513,-1.543310,3.797617,-2.185656,-1,1,0,C,O
175,5,20,4.645513,1.543310,3.797617,-2.185656,0,1,0,C,O
163,5,12,4.648934,2.656300,-3.166015,-2.129086,0,0,0,C,O
162,5,12,4.648934,-2.656300,-3.166015,-2.129086,-1,0,0,C,O

In [36]:
df_nnlist.iloc[dict_3['5']].sort_values(by='rel_distance').index

Int64Index([154, 157, 165, 169, 148, 153, 152, 155, 156, 166, 171, 172, 167,
            159, 158, 149, 151, 150, 161, 160, 170, 164, 168, 174, 173, 175,
            163, 162],
           dtype='int64')

In [41]:
# C周りのO３つのindex
indices = df_nnlist.iloc[dict_3['5']].sort_values(by='rel_distance').index[1:4]
indices

Int64Index([157, 165, 169], dtype='int64')

In [40]:
df_nnlist.iloc[indices]

,central_atom_id,neighboring_atom_id,rel_distance,rel_x,rel_y,rel_z,unitcell_x,unitcell_y,unitcell_z,central_atom_symbol,neighboring_atom_symbol
157,5,9,1.282630,0.000000,1.281885,-0.043713,0,0,0,C,O
165,5,13,1.289100,1.112990,-0.650283,0.012857,0,0,0,C,O
169,5,16,1.289100,-1.112990,-0.650283,0.012857,0,0,0,C,O

In [44]:
df_nnlist.iloc[indices].apply(lambda row: row['neighboring_atom_id'], axis = 1)

157     9
165    13
169    16
dtype: object

In [45]:
df_nnlist.iloc[indices].apply(lambda row: {row['neighboring_atom_id']: row['rel_distance']}, axis = 1)

157    {'9': 1.28263}
165    {'13': 1.2891}
169    {'16': 1.2891}
dtype: object

In [50]:
O_ids = df_nnlist.iloc[indices].apply(lambda row: row['neighboring_atom_id'], axis = 1).tolist()
O_ids

['9', '13', '16']

In [66]:
df_nnlist[df_nnlist['central_atom_id'] == O_ids[0]].sort_values('rel_distance')

,central_atom_id,neighboring_atom_id,rel_distance,rel_x,rel_y,rel_z,unitcell_x,unitcell_y,unitcell_z,central_atom_symbol,neighboring_atom_symbol
275,9,9,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
268,9,5,1.282630,0.000000,-1.281885,0.043713,0,0,0,O,C
285,9,16,2.230520,-1.112990,-1.932168,0.056570,0,0,0,O,O
281,9,13,2.230520,1.112990,-1.932168,0.056570,0,0,0,O,O
263,9,2,2.737072,0.000000,1.624284,2.203013,0,1,1,O,Ba
266,9,4,2.868469,-2.656300,0.135305,-1.074186,-1,0,0,O,Ba
267,9,4,2.868469,2.656300,0.135305,-1.074186,0,0,0,O,Ba
279,9,11,3.380286,2.656300,1.759589,1.128827,0,1,1,O,O
278,9,11,3.380286,-2.656300,1.759589,1.128827,-1,1,1,O,O
287,9,17,3.432364,1.112990,-0.756143,-3.157630,0,0,0,O,O
282,9,14,3.432364,-1.112990,-0.756143,-3.157630,0,0,0,O,O
269,9,6,3.468432,0.000000,-1.406426,-3.170487,0,0,0,O,C
288,9,17,3.536726,1.112990,-0.756143,3.270770,0,0,1,O,O
283,9,14,3.536726,-1.112990,-0.756143,3.270770,0,0,1,O,O
270,9,6,3.548525,0.000000,-1.406426,3.257913,0,0,1,O,C
289,9,18,3.646729,-1.543310,2.515732,-2.141943,-1,1,0,O,O
291,9,20,3.646729,1.543310,2.515732,-2.141943,0,1,0,O,O
290,9,19,4.142537,-1.543310,3.691757,1.072257,-1,1,1,O,O
284,9,15,4.142537,1.543310,3.691757,1.072257,0,1,1,O,O
272,9,7,4.181383,2.656300,3.041474,1.085114,0,1,1,O,C
271,9,7,4.181383,-2.656300,3.041474,1.085114,-1,1,1,O,C
277,9,10,4.190238,0.000000,-2.688311,3.214200,0,0,1,O,O
276,9,10,4.190238,0.000000,-2.688311,-3.214200,0,0,0,O,O
265,9,3,4.428137,2.656300,-2.823616,2.140014,0,0,1,O,Ba
264,9,3,4.428137,-2.656300,-2.823616,2.140014,-1,0,1,O,Ba
260,9,1,4.429557,0.000000,-4.312595,-1.011187,0,0,0,O,Ba
262,9,2,4.526831,0.000000,1.624284,-4.225387,0,1,0,O,Ba
280,9,13,4.623116,-4.199610,-1.932168,0.056570,-1,0,0,O,O
286,9,16,4.623116,4.199610,-1.932168,0.056570,1,0,0,O,O
274,9,8,4.648934,2.656300,3.166015,-2.129086,0,1,0,O,C
273,9,8,4.648934,-2.656300,3.166015,-2.129086,-1,1,0,O,C
261,9,1,4.693428,0.000000,4.583205,-1.011187,0,1,0,O,Ba

In [68]:
df_nnlist[df_nnlist['central_atom_id'] == O_ids[0]].sort_values('rel_distance')['neighboring_atom_symbol'].tolist()

['O',
 'C',
 'O',
 'O',
 'Ba',
 'Ba',
 'Ba',
 'O',
 'O',
 'O',
 'O',
 'C',
 'O',
 'O',
 'C',
 'O',
 'O',
 'O',
 'O',
 'C',
 'C',
 'O',
 'O',
 'Ba',
 'Ba',
 'Ba',
 'Ba',
 'O',
 'O',
 'C',
 'C',
 'Ba']

In [70]:
df_nnlist[df_nnlist['central_atom_id'] == O_ids[0]].sort_values('rel_distance')['neighboring_atom_symbol'].tolist()[1] == 'C'

True

In [95]:
bool_list_6 = []
for k, v in dict_3.items():
    df_nnlist.iloc[dict_3[k]].sort_values(by='rel_distance')
    # C周りのO３つのindex
    indices = df_nnlist.iloc[dict_3[k]].sort_values(by='rel_distance').index[1:4]
    O_ids = df_nnlist.iloc[indices].apply(lambda row: row['neighboring_atom_id'], axis = 1).tolist()
    for O_id in O_ids:
        bool_list_temp = []
        bool_list_temp.append(df_nnlist[df_nnlist['central_atom_id'] == O_id].sort_values('rel_distance')['neighboring_atom_symbol'].tolist()[1] == 'C')
    if set(bool_list_temp) == {True}:
        bool_list_6.append(True)

In [93]:
bool_list_6

[True, True, True, True]

In [105]:
C_ids = np.array(list(dict_3.keys()))[bool_list_6]
C_ids

array(['5', '6', '7', '8'], dtype='<U1')

### 6．の関数化

In [114]:
def filter_6(df_nnlist, dict_3):
    bool_list_6 = []
    for k, v in dict_3.items():
        df_nnlist.iloc[dict_3[k]].sort_values(by='rel_distance')
        # C周りのO３つのindex
        indices = df_nnlist.iloc[dict_3[k]].sort_values(by='rel_distance').index[1:4]
        O_ids = df_nnlist.iloc[indices].apply(lambda row: row['neighboring_atom_id'], axis = 1).tolist()
        for O_id in O_ids:
            bool_list_temp = []
            bool_list_temp.append(df_nnlist[df_nnlist['central_atom_id'] == O_id].sort_values('rel_distance')['neighboring_atom_symbol'].tolist()[1] == 'C')
        if set(bool_list_temp) == {True}:
            bool_list_6.append(True)
    C_ids = np.array(list(dict_3.keys()))[bool_list_6]
    bool_filter_6 = len(bool_list_6) >= 1
        
    return bool_filter_6, C_ids

In [117]:
bool_6, C_ids = filter_6(df_nnlist=df_nnlist, dict_3=dict_3)

In [118]:
bool_6

True

In [119]:
C_ids

array(['5', '6', '7', '8'], dtype='<U1')